USE [master]
GO
/****** Object:  Database [students]    Script Date: 16/09/2026 15:02:57 ******/
CREATE DATABASE [students]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'students', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\students.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'students_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\students_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [students].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [students]
GO
/****** Object:  Table [dbo].[students]    Script Date: 16/09/2026 15:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [uniqueidentifier] NOT NULL,
	[student_code] [nvarchar](50) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [varchar](255) NULL,
	[class_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[students] ([id], [student_code], [full_name], [email], [phone], [class_name]) VALUES (N'e78a09ed-6a65-48ce-be7e-410f6de63c89', N'SV011', N'Đặng Nhật Em', N'ee@gmail.com', N'09667890444', N'IT24C')
INSERT [dbo].[students] ([id], [student_code], [full_name], [email], [phone], [class_name]) VALUES (N'0c8ee03c-184b-4d12-a8b4-6234f1cb531f', N'SV004', N'Phạm Minh Dũng', N'd@gmail.com', N'0933456789', N'C2024A')
INSERT [dbo].[students] ([id], [student_code], [full_name], [email], [phone], [class_name]) VALUES (N'99f77886-b335-4d11-94bf-6240d2383114', N'SV005', N'Hoàng Thị Em', N'e@gmail.com', N'0944567890', N'C2024B')
GO
USE [master]
GO
